{
  "$schema": "https://json.schemastore.org/swcrc",
  "exclude": ["src/types/**/*"],
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "minify": true
}
